# URL de la Plataforma Moodle
MOODLE_URL=

# Token de acceso para la API de Moodle, se puede generar en el perfil del usuario en la sección de "Tokens de acceso" en la administración del sitio. (Importante para generar un token, el usuario debe tener permisos de administrador o permisos específicos para generar tokens)
MOODLE_TOKEN=

# Formato de respuesta de la API de Moodle
MOODLE_FORMAT=json

# Ciclo Lectivo Anterior
OLD_SCHOOL_YEAR=

# Ciclo Lectivo Actual
NEW_SCHOOL_YEAR=

# ID del rol de docente
TEACHER_ROLE_ID=

# ID del rol de estudiante
STUDENT_ROLE_ID=

# Lista de IDs de los cursos que tienen a los estudiantes inscriptos de forma correcta, para tenerlos como plantillas en los demas cursos
COURSE_ID_WITH_STUDENTS_CORRECTLY= 

# Lista de Divisiones de la institucion, para asignar a los estudiantes a su respectiva division
COURSE_DIVITION =